<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niceinfoshop.test.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.niceinfoshop.test.model.User">
		<result column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="dt" property="dt" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_name, dt
	</sql>
	
	
	<!-- SELECT query to retrieve All User -->
	<!-- <select id="getUserAll2" resultType="com.niceinfoshop.mybatis.model.User"> -->
    <!-- resultType이 없어도 동일하다.-->
    <!-- resultMap="BaseResultMap" 을 지정하지 않으면 테이블 컬럼과 다른 변수는 null로 나온다.-->
    <!-- id만 입력하면 default로 resultType="com.niceinfoshop.mybatis.model.User"-->
    <!-- 결국 client에서 받는 값은  쿼리 컬럼이 어떻든 간에 DTO(MODEL)에  있는 변수명으로 받고 싶으면 resultMap="BaseResultMap"을 명시하라는 의미 -->
    
    <select id="getUserAll" resultMap="BaseResultMap">
        SELECT 
        	<include refid="Base_Column_List" /> 
          FROM 
            user
    </select>
    
    <!-- SELECT query to retrieve a user by ID -->
    <select id="getUserAll2">
        SELECT * FROM user
    </select>
    
    <!-- SELECT query to retrieve a user by ID -->
    <select id="getUserById" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <!-- INSERT query to create a new user -->
    <insert id="insertUser">
        INSERT INTO user (user_name) VALUES (#{userName})
    </insert>
    <!-- INSERT query to create a new user -->
    <insert id="insertUser2" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (user_name) VALUES (#{userName})
    </insert>

    <!-- UPDATE query to update an existing user -->
    <update id="updateUser">
        UPDATE user SET user_name = #{userName} WHERE id = #{id}
    </update>

    <!-- DELETE query to delete a user by ID -->
    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>